*{
      margin: 0;
      padding: 0;
      outline: none;
      box-sizing: border-box;
      font-family: sans-serif;
}

.calculator .container{
      background-color: #696666;
      margin: 8rem auto 0;
      width: 21rem;
      height: 26rem;
      border-radius: 10px;
      padding: 1.2rem;
}

.container .display-2{
      width: 100%;
      height: 3.7rem;
      border-radius: 10px;
      outline: none;
      border: 2px solid rgb(98, 93, 93);
      padding-left: 10px;
      font-size: 1.6rem;
      margin-bottom: 2rem;
      background-color: #d9d7d7;
}

form .box input{
      width: 4rem;
      height: 2.8rem;
      margin: 5px 3px ;
      border-radius: 5px;
      border: 2px solid rgb(98, 93, 93);
      font-size: 1.5rem;
      cursor: pointer;
      background-color: #222;
      color: #fff;
      box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.2 );
}

form .box .active{
     background-color: red; 
}

form .box .equal{
    background-color: rgb(8, 116, 248);  
}
